<% lessons = @path.lessons %>

<p id="notice"><%= notice %></p>

<p class="text-center lead"><%= @path.name %></p>

<div class="row">
  <div class="col-md-3">
    <div class="list-group path-buttons">
      <%= link_to 'New lesson', new_path_lesson_path(@path),
          class: "list-group-item", remote: true %>
      <%= link_to 'Back', paths_path, class: "list-group-item" %>
    </div>
    <div class="list-group">
      <% if lessons.any? %>
        <% lessons.each do |lesson| %>
          <% lesson_class = "list-group-item" %>
          <% lesson_class += " active" if lesson.id == @lesson.id %>
          <%= link_to lesson.name, path_path(@path, lesson_id: lesson.id),
              class: lesson_class, remote: true %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <%= render 'lessons/lesson', lesson: @lesson %>
  </div>
</div>

<script>
  (function () {
    "use strict";
    var $lesson = $("#lesson");
    if ($lesson.length > 0) {
      window.prepareLesson($("#lesson"));
    }
  }());
</script>